//variables
$logo: "../../assets/images/logo.png";

$colorWhite: #ffffff;
$colorLightGray: #c9c9c9;
$colorDarkGray: #555555;
$colorMiddleGray: #cbcbcb;
$colorDarkPurple: #550c55;
$colorBlack: #000000;
$colorLightRed: #fc3d39;
$colorLightBlue: #2eafd8;
$colorGreen: #23c30b;
$colorGrass: #32bea6;
$colorBlue: #147efb;
$colorNavyBlue: #1a2124;
$colorLightYellow: #fec222;
$colorLightOrange: #fd9426;
$colorCyan: #6cda9d;
$colorRed: #c70e0e;
$colorBackGray: #f5f5f5;
$colorLineGray: #dfdfdf;

$defaultRem: 1rem;

